<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SandsTrilogyKiller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SandsTrilogyKiller.Properties.Settings>
            <setting name="pathSoT" serializeAs="String">
                <value>sot.lnk</value>
            </setting>
            <setting name="pathWW" serializeAs="String">
                <value>ww.lnk</value>
            </setting>
            <setting name="pathT2T" serializeAs="String">
                <value>t2t.lnk</value>
            </setting>
            <setting name="activeGame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hotkeySoT" serializeAs="String">
                <value>NumPad5</value>
            </setting>
            <setting name="hotkeyWW" serializeAs="String">
                <value>NumPad6</value>
            </setting>
            <setting name="hotkeyT2T" serializeAs="String">
                <value>NumPad7</value>
            </setting>
            <setting name="checkBoxSoT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxWW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxT2T" serializeAs="String">
                <value>False</value>
            </setting>
        </SandsTrilogyKiller.Properties.Settings>
    </userSettings>
</configuration>